*{
    padding:0;
    margin:0;
    width:100%;
    height:100%;
    font-family: 'Rubik', sans-serif;
}
@media only screen and (min-width:1024px){
body{
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgba(31,40,51,1) 0%, rgba(11,12,16,1) 75%, rgba(11,12,16,1) 100%);
    overflow: hidden;
}
.xppage{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction:column;
}
.title{
    height:12%;
    color: #c5c6c7;
    display: flex;
    flex-direction:row;
}
.back a{
    text-decoration: none;

    color:#66fcf1;
}
.back{
    color:#66fcf1;
    font-size:3.5em;
    font-weight:bold;
    padding: 10px;
    width:6%;
}
.backsign{
    width: 65px;
    height: 65px;
    border-radius:50%;
    text-align: center;
}
.backsign:hover{
    background-color:#c5c6c7;
    color: #0b0c10;
    cursor: pointer;
    box-shadow:#45a29e 0 0 20px;
}
.maintitle{
    font-size:4.2em;
    font-weight: bold;
    color:#45a29e;
    text-shadow: #c5c6c7 0 0 5px;
}
.content{
    width:100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}
.leftcontent{
    margin: 20px;
}
.leftcontent h1{
    color:#66fcf1;
    text-align:center;
    text-shadow:#45a29e 0 0 10px;
    height: 12%;
    font-size: 3em;
}
.leftcontent img{
    width: 40%;
    height: 12%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.leftcontent h2{
    color: #45a29e;
    text-align:center;
    height: 10%;
    font-size: 2em;
}
.leftcontent p{
    color: #c5c6c7;
    text-align: justify;
    height: auto;
    font-size: 1.2em;
    margin:10px;
    margin-left: 25px;
}
.leftcontent a{
    color:#66fcf1;
    text-decoration: none;
}
.leftcontent a:hover{
    color:#45a29e;
}
}
@media only screen and (max-width:1024px){
    body{
        width: 100%;
        height: 100%;
        background: linear-gradient(0deg, rgba(31,40,51,1) 0%, rgba(11,12,16,1) 75%, rgba(11,12,16,1) 100%);
        position: fixed;
    }
    .xppage{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction:column;
    }
    .title{
        height:12%;
        color: #c5c6c7;
        display: flex;
        flex-direction:row;
    }
    .back a{
        text-decoration: none;
    
        color:#66fcf1;
    }
    .back{
        color:#66fcf1;
        font-size:3.5em;
        font-weight:bold;
        padding: 10px;
        width:6%;
    }
    .backsign{
        width: 65px;
        height: 65px;
        border-radius:50%;
        text-align: center;
    }
    .backsign:hover{
        background-color:#c5c6c7;
        color: #0b0c10;
        cursor: pointer;
        box-shadow:#45a29e 0 0 20px;
    }
    .maintitle{
        font-size:4.2em;
        font-weight: bold;
        color:#45a29e;
        text-shadow: #c5c6c7 0 0 5px;
    }
    .content{
        width:100%;
        height: 100%;
        display: flex;
        flex-direction: column;
    }
    .leftcontent{
        margin: 20px;
        /* background-color: red; */
        height: 35%;
    }
    .leftcontent h1{
        color:#66fcf1;
        text-align:center;
        text-shadow:#45a29e 0 0 10px;
        height: 15%;
        font-size: 3.5em;
    }
    .leftcontent img{
        width: 45%;
        height: 14%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .leftcontent h2{
        color: #45a29e;
        text-align:center;
        height: 12%;
        font-size: 2.5em;
    }
    .leftcontent p{
        color: #c5c6c7;
        text-align: justify;
        height: auto;
        font-size: 1.8em;
        margin:10px;
        margin-left: 25px;
    }
    .leftcontent a{
        color:#66fcf1;
        text-decoration: none;
    }
    .leftcontent a:hover{
        color:#45a29e;
    }
    }