/*  #0b0c10 - black
    #1f2833 - grey
    #c5c6c7 - white
    #66fcf1 - light blue
    #45a29e - blue  */
*{
    padding:0;
    margin:0;
    width:100%;
    height:100%;
    font-family: 'Rubik', sans-serif;
}
@media only screen and (min-width:1024px){
body{
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgba(31,40,51,1) 0%, rgba(11,12,16,1) 75%, rgba(11,12,16,1) 100%);
    overflow: hidden;
}
.mainpage{
    width:100%;
    height:100%;
    display: flex;
    flex-direction: row;
}
.menu{
    flex: 11;
    display: flex;
    align-items: center;
    /* background-color: #1f2833; */
}
.name{
    flex:9;
    display: flex;
    flex-direction: column;
}
.contact{
    height: 50px;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.github{
    width: 80px;
}
.linkedin{
    width:80px;
}
.gmail{
    width:80px;
    /* background-color: red; */
    border-radius: 28px;
    display: flex;
    flex-direction: row;
    position: relative;

    margin-left: 16px;
}
.gh{
    color: #45a29e;
    font-size: 3.2em;
    text-align:center;
}
.gm{
    color: #45a29e;
    font-size: 3.3em;
    width:80px;
    text-align: center;
}
.emailid{
    width: 250px;
    display: flex;
    align-items: center;
    visibility:hidden;
}
.gmail:hover{
    width: 320px;
    background-color: #45a29e;
    transition: all 0.5s;
}
.gmail:hover > .gm{
    color: #c5c6c7;
    margin-left: 5px;
    transition: all 0.5s;
}
.gmail:hover > .emailid{
    visibility:visible;

    color:#1f2833;
    transition: all 0.5s;
}
.gh:hover{
    color: #c5c6c7;
}
.firstname{
    font-size:8.1em;
    color:#66fcf1;
    display: flex;
    align-items:flex-end;
    font-weight: bold;
    text-shadow:#45a29e 0 0 20px;
}
.lastname{
    font-size:6.9em;
    color:#66fcf1;
    display: flex;
    align-items:flex-start;
    text-shadow:#45a29e 0 0 10px;
    margin-top: -5%;
}
.menubox{
    width: 70%;
    height: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}
.menu1{
    margin: 10px;
    display: flex;
    align-items: center;
    /* box-shadow:  */
}
.menudet{
    width: 80%;
    height:70%;
    background: linear-gradient(90deg, rgba(11,12,16,1) 0%, rgba(31,40,51,1) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:1.5em;
    border-radius:10px;
    font-weight:bold;
    border: solid #66fcf1;
    color:#c5c6c7;
    box-shadow: #45a29e 0 0 20px;
}
.menudet:hover{
    width: 85%;
    height:75%;
    background: linear-gradient(90deg, rgba(69,162,158,1) 0%,  rgba(102,252,241,1) 100%);
    color:#0b0c10;
    font-size:1.6em;
    border: solid #0b0c10;
    color:#0b0c10;
    box-shadow: #0b0c10 0 0 20px;
}
.menu1 a{
    text-decoration: none;
}
}

@media only screen and (max-width:1024px){
    body{
        width:100%;
        height: 100%;
        position:fixed;
        /* background-color: red; */
        background: linear-gradient(0deg, rgba(31,40,51,1) 0%, rgba(11,12,16,1) 75%, rgba(11,12,16,1) 100%);
        /* overflow: hidden; */
    }
    .mainpage{
        width:100%;
        height:100%;
        display: flex;
        flex-direction: column-reverse;
    }
    .menu{
        flex: 11;
        display: flex;
        /* align-items: center; */
        /* background-color: red; */
    }
    .name{
        flex:9;
        display: flex;
        flex-direction: column;
    }
    .contact{
        height: 50px;
        margin-top: 10px;
        justify-content: center;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .github{
        width: 80px;
    }
    .linkedin{
        width:80px;
    }
    .gmail{
        width:80px;
        /* background-color: red; */
        border-radius: 28px;
        display: flex;
        flex-direction: row;
        position: relative;
    
        margin-left: 16px;
    }
    .gh{
        color: #45a29e;
        font-size: 3.2em;
        text-align:center;
    }
    .gm{
        color: #45a29e;
        font-size: 3.3em;
        width:80px;
        text-align: center;
    }
    .emailid{
        width: 250px;
        display: flex;
        align-items: center;
        visibility:hidden;
    }
    .gmail:hover{
        width: 320px;
        background-color: #45a29e;
        transition: all 0.5s;
    }
    .gmail:hover > .gm{
        color: #c5c6c7;
        margin-left: 5px;
        transition: all 0.5s;
    }
    .gmail:hover > .emailid{
        visibility:visible;
    
        color:#1f2833;
        transition: all 0.5s;
    }
    .gh:hover{
        color: #c5c6c7;
    }
    .firstname{
        font-size:8.1em;
        color:#66fcf1;
        width: 100%;
        justify-content: center;
        display: flex;
        align-items:flex-end;
        font-weight: bold;
        text-shadow:#45a29e 0 0 20px;
        /* margin-left: 20%; */
    }
    .lastname{
        font-size:6.9em;
        color:#66fcf1;
        display: flex;
        align-items:flex-start;
        text-shadow:#45a29e 0 0 10px;

        justify-content: center;
        margin-top:-5%;
    }
    .menubox{
        width: 60%;
        height: 80%;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: column;
        /* align-items: center; */
    }
    .menu1{
        margin: 10px;
        display: flex;
        align-items: center;
        /* box-shadow:  */
    }
    .menudet{
        width: 100%;
        height:70%;
        background: linear-gradient(90deg, rgba(11,12,16,1) 0%, rgba(31,40,51,1) 100%);
        display: flex;
        align-items: center;
        justify-content: center;
        font-size:1.5em;
        border-radius:10px;
        font-weight:bold;
        border: solid #66fcf1;
        color:#c5c6c7;
        box-shadow: #45a29e 0 0 20px;
    }
    .menudet:hover{
        width: 105%;
        height:75%;
        background: linear-gradient(90deg, rgba(69,162,158,1) 0%,  rgba(102,252,241,1) 100%);
        color:#0b0c10;
        font-size:1.6em;
        border: solid #0b0c10;
        color:#0b0c10;
        box-shadow: #0b0c10 0 0 20px;
    }
    .menu1 a{
        text-decoration: none;
    }
}